In [8]:
import pandas as pd

# Pandas Reference

Some references that I use all the time but never seem to remember how to do!

In [9]:
import numpy as np

In [15]:
a = np.arange(1,21).reshape((4,5))
b = pd.DataFrame(a, columns=["a","b","c","d","e"])

In [16]:
b

    a   b   c   d   e
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20

In [22]:
from collections import Counter
c = Counter()

def count_stuff(row):
    c[row] += 1

b["b"].apply(count_stuff)
c

Counter({2: 1, 7: 1, 12: 1, 17: 1})